/* styles for browsers small than 922px; default style are for mobile first design */

@font-face {
  font-family: JustusItalic;
  src: url("../../resources/fonts/Justus-Italic.ttf") format("truetype");
}
@font-face {
  font-family: JustusOldStyle;
  src: url("../../resources/fonts/Justus-Oldstyle.ttf") format("truetype");
}
@font-face {
  font-family: LibreLight;
  src: url("../../resources/fonts/LibreFranklin-Light.ttf") format("truetype");
}
@font-face {
  font-family: MontserratLight;
  src: url("../../resources/fonts/Montserrat-Light.otf") format("woff2");
}
@font-face {
  font-family: MontserratRegular;
  src: url("../../resources/fonts/Montserrat-Regular.otf") format("woff2");
}
@font-face {
  font-family: LibreFranklinBold;
  src: url("../../resources/fonts/LibreFranklin-SemiBold.ttf")
    format("truetype");
}

body {
  min-width: 375px;
  max-width: 992px;
}

.row {
  width: max-content;
}

.img-responsive {
  max-width: auto;
}

.img-float-right {
  height: 150px;
  width: auto;
  float: right;
  margin: 10px;
}

.img-float-right-kaki {
  height: 150px;
  width: auto;
  float: left;
  margin-top: 10px;
}

.img-martinelli {
  height: auto;
  display: block;
  max-width: 100%;
}

.just-old-style {
  font-family: JustusOldStyle;
  color: #d7c3a9;
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.imageText {
  font-family: MontserratLight;
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
}

.tittleText {
  font-family: JustusOldStyle;
  font-size: 20px;
  text-decoration: underline;
}

.introText {
  font-family: LibreLight;
  font-weight: lighter;
  font-size: 13px;
  margin-left: 15px;
  margin-right: 15px;
}

.decorando-arbol {
  font-family: JustusOldStyle;
  color: #d7c3a9;
  text-decoration: underline;
  text-align: center;
  font-size: 15;
}

.arbolText {
  font-family: LibreLight;
  font-weight: lighter;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.subtitleText {
  font-family: JustusItalic;
  font-weight: bold;
  font-size: 16px;
}

.product-name {
  font-family: LibreFranklinBold;
  font-size: 10px;
}

.empire-image-text {
  margin-top: -15px;
  position: absolute;
  left: 16px;
}

.thelma-image-text {
  position: absolute;
  margin-top: -15px;
  right: 16px;
}

.container-image {
  position: relative;
  text-align: center;
}

.bottom-centered {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.buttonPk {
  background: black;
  color: white;
  text-align: center;
  width: 105px;
  height: 26px;
  margin-bottom: 3px;
  font-size: 0.65rem;
  text-transform: uppercase;
  white-space: normal;
  letter-spacing: 0.095em;
  background-position: center 0.95rem;
  font-family: MontserratRegular;
}

/* 
Escala de espaciado en potencia de 2 de 0 a 12 rem 
basada en la altura de la línea base -> 1.5rem  bastante útil para separeción entre objetos. 

  Legend:
   p = padding
   m = margin
   h = horizontal
   v = vertical
   t = top
   r = right
   b = bottom
   l = left

   He dejado los necesarios para limpiar un poco las clases, pero se pueden tener cuentos necesites para
   ir jugando con los espacios entre objetos.
  */
.ml2 {
  margin-left: 1.5rem;
}
.ml6 {
  margin-left: 9rem;
}
.mr2 {
  margin-right: 1.5rem;
}
.mb2 {
  margin-bottom: 1.5rem;
}
.mt1 {
  margin-top: 0.75rem;
}
.mt2 {
  margin-top: 1.5rem;
}
.mt3 {
  margin-top: 3rem;
}

@media only screen and (min-width: 375px) and (max-width: 992px) {
  /* 
    Aquí van los estilos para pantallas más pequeñas que 992, pero 
    al hacerlo mobiler firt, ponemos todos estos estilos por defecto,
    y en caso de querer cambiar alguna cosa muy concreta, se podría hacer aquí. 
  */
  .img-responsive {
    max-width: 100%;
  }

  .container {
    width: auto;
  }

  .left-distance {
    left: 45px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1920px) {
  /* 
    Aquí van los estilos para pantallas más grande 992 y más pequeñas que 1920,
    así si queremos cargar cualquier contenido de escritorio, lo pondremos aquí
    ya que lo primero en cargarse será siempre los estilos de móvil
  */

  body {
    min-width: 992px;
    max-width: 1920px;
  }

  .big-div {
    max-width: auto;
    height: 1000px;
  }

  .normal-div {
    max-width: auto;
    height: 600px;
  }

  .small-div {
    max-width: auto;
    height: 200px;
  }

  .container {
    min-width: 992px;
    max-width: 1920px;
  }

  .just-old-style {
    font-size: 60px;
    text-align: left;
  }

  .decorando-arbol {
    text-align: left;
    font-size: 60px;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
  }

  .img-martinelli {
    height: auto;
    width: auto;
    max-width: 50%;
    float: left;
  }

  .txt-martinelli {
    height: auto;
    width: auto;
    max-width: 50%;
    float: right;
  }

  .txt-martinelli-center {
    height: auto;
    width: auto;
    text-align: center;
  }

  .imageText {
    font-size: 30px;
  }

  .name-image-text {
    font-size: 15px;
  }

  .tittleText {
    font-size: 50px;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .introText {
    font-family: LibreLight;
    font-weight: lighter;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .bottom-centered {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mid-bottom-centered {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttonPk {
    background: black;
    color: white;
    text-align: center;
    width: 215px;
    height: 52px;
    margin-bottom: 3px;
    margin-bottom: 3px;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.095em;
    font-family: MontserratRegular;
  }

  .subtitleText {
    font-family: JustusItalic;
    font-weight: bold;
    margin-top: 50px;
    font-size: 50px;
  }

  .libre-light {
    font-family: LibreLight;
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
  }

  .arbolText {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    max-width: 80%;
  }

  .empire-image-text {
    font-size: 16px;
    margin-top: 50px;
    position: absolute;
    left: 16px;
  }

  .rivoli-image-text {
    font-size: 16px;
    position: absolute;
    left: 16px;
    margin-top: -50px;
  }

  .thelma-image-text {
    font-size: 16px;
    margin-top: 300px;
    position: absolute;
    right: 76px;
  }

  .row {
    width: auto;
  }

  .img-float-right {
    position: absolute;
    height: 600px;
    width: auto;
    left: 800px;
    top: 500px;
    float: right;
  }

  .img-float-right-kaki {
    position: absolute;
    height: 550px;
    width: auto;
    left: 150px;
    float: right;
  }
}
